<div style="margin-top:-20px" ng-class="main" class="container container-fluid col-sm-12">
   <div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3>Classified Balance Sheet: &nbsp;
        <span ng-model="currentfye" >{{currentfye | date: mmm-dd-yyyy}} </span>
        </h3>
        </div>
       <div class="panel-body">
        <span ng-model="openclient" >{{openclient[0].name}}</span> <br/>
        <table class="table table-responsive">
        <thead>
        <tr>
        <th class="col-xs-2">Account</th>
        <th class="col-xs-1 text-center">Unadj. Balance</th>
        <th class="col-xs-1 text-center" >Dr</th>
        <th class="col-xs-1 text-center">Cr</th>
        <th class="col-xs-1 text-center">Adjusted Balance</th>
        </tr>
        </thead>
        <tbody>
        <tr><td><h4>Current Assets</h4></td></tr>
         <tr ng-repeat="account in accounts |  filter : {'class' : 'CurrentAsset'} | orderBy : 'ssort' "   >
         <td >{{account.name}}</td>
         <td >
         <table ng-repeat="balance in account.balances |  filter :  {tbyear: currenttbyear } |  filter :  {tbday: currenttbday } |  filter :  {tbmonth: currenttbmonth }">  
         <tr>
         <td width='100' align='right' >{{balance.unadjbal | number:2}}</td>
         </tr>
         </table>
         </td> 
         <td>
         <table >
         <tr ng-repeat="entry in ajeList  | filter :  {accountID: account._id } | filter :  {tbdate: currentfye } " >
         <td width='100' align='right'>{{entry.debit| number:2}}</td>
         </tr>
         </table>
         </td>
         <td>
         <table  >
         <tr ng-repeat="entry in ajeList  | filter :  {accountID: account._id } | filter :  {tbdate: currentfye } " >
         <td width='100' align='right' >{{entry.credit| number:2}}</td> 
         </tr>
         </table>
         </td>

         <td >
         <table ng-repeat="balance in account.balances |  filter :  {tbyear: currenttbyear } ">  
         <tr>
         <td width='100' align='right' >{{getAdjustedBalanceAssets(account) | number:2}}</td>
         </tr>
         </table>
         </td> 
         
         <tr style="background-color:#B6E7F8">
         <td><table><tr><td><strong>&nbsp;Sub Total Current Assets</strong></td></tr></table></td>
         <td ><table><tr><td width='100' align='right'>{{subUnadj('CurrentAsset') | number: 2}}</td></tr></table></td>
         <td><table><tr><td width='100' align='right'>{{subDebits('CurrentAsset') | number: 2}}</td></tr></table></td>
         <td><table><tr><td width='100' align='right'>{{subCredits('CurrentAsset') | number: 2}}</td></tr></table></td>
         <td><table><tr><td width='100' align='right' >{{subAdj('CurrentAsset') | number: 2}}</td> </tr></table></td>

         </tr>

         </tr>
          
         <tr><td><h4>Fixed Assets</h4></td>
         <tr ng-repeat="account in accounts |  filter : {'class' : 'FixedAsset'} ">
         <td >{{account.name}}</td>
         <td >
         <table ng-repeat="balance in account.balances |  filter :  {tbyear: currenttbyear } |  filter :  {tbday: currenttbday } |  filter :  {tbmonth: currenttbmonth }">  
         <tr>
         <td width='100' align='right' >{{balance.unadjbal | number:2}}</td>
         </tr>
         </table>
         </td> 
         <td>
         <table >
         <tr ng-repeat="entry in ajeList  | filter :  {accountID: account._id } | filter :  {tbdate: currentfye } " >
         <td width='100' align='right'>{{entry.debit| number:2}}</td>
         </tr>
         </table>
         </td>
         <td>
         <table  >
         <tr ng-repeat="entry in ajeList  | filter :  {accountID: account._id } | filter :  {tbdate: currentfye } " >
         <td width='100' align='right' >{{entry.credit| number:2}}</td> 
         </tr>
         </table>
         </td>

         <td >
         <table ng-repeat="balance in account.balances |  filter :  {tbyear: currenttbyear } ">  
         <tr>
         <td width='100' align='right' >{{getAdjustedBalanceAssets(account) | number:2}}</td>
         </tr>
         </table>
         </td>

         <tr style="background-color:#B6E7F8">
         <td><table><tr><td><strong>&nbsp;Sub Total Fixed Assets</strong></td></tr></table></td>
         <td ><table><tr><td width='100' align='right'>{{subUnadj('FixedAsset') | number: 2}}</td></tr></table></td>
         <td><table><tr><td width='100' align='right'>{{subDebits('FixedAsset') | number: 2}}</td></tr></table></td>
         <td><table><tr><td width='100' align='right'>{{subCredits('FixedAsset') | number: 2}}</td></tr></table></td>
         <td><table><tr><td width='100' align='right' >{{subAdj('FixedAsset') | number: 2}}</td> </tr></table></td>

         </tr>

         </tr>

         <tr><td><h4>Other Assets</h4></td>
         <tr ng-repeat="account in accounts |  filter : {'class' : 'Other Assets'} ">
         <td >{{account.name}}</td>
         <td >
         <table ng-repeat="balance in account.balances |  filter :  {tbyear: currenttbyear } |  filter :  {tbday: currenttbday } |  filter :  {tbmonth: currenttbmonth }">  
         <tr>
         <td width='100' align='right' >{{balance.unadjbal | number:2}}</td>
         </tr>
         </table>
         </td> 
         <td>
         <table >
         <tr ng-repeat="entry in ajeList  | filter :  {accountID: account._id } | filter :  {tbdate: currentfye } " >
         <td width='100' align='right'>{{entry.debit| number:2}}</td>
         </tr>
         </table>
         </td>
         <td>
         <table  >
         <tr ng-repeat="entry in ajeList  | filter :  {accountID: account._id } | filter :  {tbdate: currentfye } " >
         <td width='100' align='right' >{{entry.credit| number:2}}</td> 
         </tr>
         </table>
         </td>

         <td >
         <table ng-repeat="balance in account.balances |  filter :  {tbyear: currenttbyear } ">  
         <tr>
         <td width='100' align='right' >{{getAdjustedBalanceAssets(account) | number:2}}</td>
         </tr>
         </table>
         </td>

         <tr style="background-color:#B6E7F8">
         <td><table><tr><td><strong>&nbsp;Sub Total Other Assets</strong></td></tr></table></td>
         <td ><table><tr><td width='100' align='right'>{{subUnadj('Other Assets') | number: 2}}</td></tr></table></td>
         <td><table><tr><td width='100' align='right'>{{subDebits('Other Assets') | number: 2}}</td></tr></table></td>
         <td><table><tr><td width='100' align='right'>{{subCredits('Other Assets') | number: 2}}</td></tr></table></td>
         <td><table><tr><td width='100' align='right' >{{subAdj('Other Assets') | number: 2}}</td> </tr></table></td>

         </tr>

         </tr> 

         <tr style="background-color:#B6E7F8">
         <td><table><tr><td><h4>&nbsp;Total Assets</h4></td></tr></table></td>
         <td ><table><tr><td width='100' align='right'>{{TotalUnadj('Asset') | number: 2}}</td></tr></table></td>
         <td><table><tr><td width='100' align='right'>{{getTotalDrs('Asset') | number: 2}}</td></tr></table></td>
         <td><table><tr><td width='100' align='right'>{{getTotalCrs('Asset') | number: 2}}</td></tr></table></td>
         <td><table><tr><td width='100' align='right' >{{TotalAdj('Asset') | number: 2}}</td> </tr></table></td>


         </tr>
         </tr>

         


         <tr><td><h4>Current Liabilities</h4></td>
         <tr ng-repeat="account in accounts |  filter : {'class' : 'CurrentLiability'} ">
         <td >{{account.name}}</td>
         <td >
         <table ng-repeat="balance in account.balances |  filter :  {tbyear: currenttbyear } |  filter :  {tbday: currenttbday } |  filter :  {tbmonth: currenttbmonth }">  
         <tr>
         <td width='100' align='right' >{{balance.unadjbal | number:2}}</td>
         </tr>
         </table>
         </td> 
         <td>
         <table >
         <tr ng-repeat="entry in ajeList  | filter :  {accountID: account._id } | filter :  {tbdate: currentfye } " >
         <td width='100' align='right'>{{entry.debit| number:2}}</td>
         </tr>
         </table>
         </td>
         <td>
         <table  >
         <tr ng-repeat="entry in ajeList  | filter :  {accountID: account._id } | filter :  {tbdate: currentfye } " >
         <td width='100' align='right' >{{entry.credit| number:2}}</td> 
         </tr>
         </table>
         </td>

         <td >
         <table ng-repeat="balance in account.balances |  filter :  {tbyear: currenttbyear } ">  
         <tr>
         <td width='100' align='right' >{{getAdjustedBalanceAssets(account) | number:2}}</td>
         </tr>
         </table>
         </td>

         <tr style="background-color:#B6E7F8">
         <td><table><tr><td><strong>&nbsp;Sub Total Current Liabilities</strong></td></tr></table></td>
         <td ><table><tr><td width='100' align='right'>{{subUnadj('CurrentLiability') | number: 2}}</td></tr></table></td>
         <td><table><tr><td width='100' align='right'>{{subDebits('CurrentLiability') | number: 2}}</td></tr></table></td>
         <td><table><tr><td width='100' align='right'>{{subCredits('CurrentLiability') | number: 2}}</td></tr></table></td>
         <td><table><tr><td width='100' align='right' >{{subAdj('CurrentLiability') | number: 2}}</td> </tr></table></td>

         </tr>

         </tr> 


         <tr><td><h4>Long Term Debt</h4></td>
         <tr ng-repeat="account in accounts |  filter : {'class' : 'LongTermLiability'} ">
         <td >{{account.name}}</td>
         <td >
         <table ng-repeat="balance in account.balances |  filter :  {tbyear: currenttbyear } |  filter :  {tbday: currenttbday } |  filter :  {tbmonth: currenttbmonth }">  
         <tr>
         <td width='100' align='right' >{{balance.unadjbal | number:2}}</td>
         </tr>
         </table>
         </td> 
         <td>
         <table >
         <tr ng-repeat="entry in ajeList  | filter :  {accountID: account._id } | filter :  {tbdate: currentfye } " >
         <td width='100' align='right'>{{entry.debit| number:2}}</td>
         </tr>
         </table>
         </td>
         <td>
         <table  >
         <tr ng-repeat="entry in ajeList  | filter :  {accountID: account._id } | filter :  {tbdate: currentfye } " >
         <td width='100' align='right' >{{entry.credit| number:2}}</td> 
         </tr>
         </table>
         </td>

         <td >
         <table ng-repeat="balance in account.balances |  filter :  {tbyear: currenttbyear } ">  
         <tr>
         <td width='100' align='right' >{{getAdjustedBalanceAssets(account) | number:2}}</td>
         </tr>
         </table>
         </td>

         <tr style="background-color:#B6E7F8">
         <td><table><tr><td><strong>&nbsp;Sub Total Long Term Debt</strong></td></tr></table></td>
         <td ><table><tr><td width='100' align='right'>{{subUnadj('LongTermLiability') | number: 2}}</td></tr></table></td>
         <td><table><tr><td width='100' align='right'>{{subDebits('LongTermLiability') | number: 2}}</td></tr></table></td>
         <td><table><tr><td width='100' align='right'>{{subCredits('LongTermLiability') | number: 2}}</td></tr></table></td>
         <td><table><tr><td width='100' align='right' >{{subAdj('LongTermLiability') | number: 2}}</td> </tr></table></td>

         </tr>

         </tr> 



        <tr style="background-color:#B6E7F8">
         <td><table><tr><td><h4>&nbsp;Total Liabilities</h4></td></tr></table></td>
         <td ><table><tr><td width='100' align='right'>{{TotalUnadj('Liability') | number: 2}}</td></tr></table></td>
         <td><table><tr><td width='100' align='right'>{{getTotalDrs('Liability') | number: 2}}</td></tr></table></td>
         <td><table><tr><td width='100' align='right'>{{getTotalCrs('Liability') | number: 2}}</td></tr></table></td>
         <td><table><tr><td width='100' align='right' >{{TotalAdj('Liability') | number: 2}}</td> </tr></table></td>


         </tr>

         </tr>


         <tr><td><h4>Equity</h4></td>
         <tr ng-repeat="account in accounts |  filter : {'class' : 'Equity'} ">
         <td >{{account.name}}</td>
         <td >
         <table ng-repeat="balance in account.balances |  filter :  {tbyear: currenttbyear } |  filter :  {tbday: currenttbday } |  filter :  {tbmonth: currenttbmonth }">  
         <tr>
         <td width='100' align='right' >{{balance.unadjbal | number:2}}</td>
         </tr>
         </table>
         </td> 
         <td>
         <table >
         <tr ng-repeat="entry in ajeList  | filter :  {accountID: account._id } | filter :  {tbdate: currentfye } " >
         <td width='100' align='right'>{{entry.debit| number:2}}</td>
         </tr>
         </table>
         </td>
         <td>
         <table  >
         <tr ng-repeat="entry in ajeList  | filter :  {accountID: account._id } | filter :  {tbdate: currentfye } " >
         <td width='100' align='right' >{{entry.credit| number:2}}</td> 
         </tr>
         </table>
         </td>

         <td >
         <table ng-repeat="balance in account.balances |  filter :  {tbyear: currenttbyear } ">  
         <tr>
         <td width='100' align='right' >{{getAdjustedBalanceAssets(account) | number:2}}</td>
         </tr>
         </table>
         </td>

         <tr style="background-color:#B6E7F8">
         <td><table><tr><td><strong>&nbsp;Sub Total Equity</strong></td></tr></table></td>
         <td ><table><tr><td width='100' align='right'>{{subUnadj('Equity') | number: 2}}</td></tr></table></td>
         <td><table><tr><td width='100' align='right'>{{subDebits('Equity') | number: 2}}</td></tr></table></td>
         <td><table><tr><td width='100' align='right'>{{subCredits('Equity') | number: 2}}</td></tr></table></td>
         <td><table><tr><td width='100' align='right' >{{subAdj('Equity') | number: 2}}</td> </tr></table></td>

         </tr>

         </tr> 



        <tr style="background-color:#B6E7F8">
         <td><table><tr><td><h4>&nbsp;Total Equity</h4></td></tr></table></td>
         <td ><table><tr><td width='100' align='right'>{{TotalUnadj('Equity') | number: 2}}</td></tr></table></td>
         <td><table><tr><td width='100' align='right'>{{getTotalDrs('Equity') | number: 2}}</td></tr></table></td>
         <td><table><tr><td width='100' align='right'>{{getTotalCrs('Equity') | number: 2}}</td></tr></table></td>
         <td><table><tr><td width='100' align='right' >{{TotalAdj('Equity') | number: 2}}</td> </tr></table></td>


         </tr>

         </tr>


         <tr style="background-color:#B6E7F8">
         <td><table><tr><td><h4>&nbsp;Total Liabilities & Equity</h4></td></tr></table></td>
         <td ><table><tr><td width='100' align='right'>{{TotalUnadj('Equity') + TotalUnadj('Liability')| number: 2}} </td></tr></table></td>
         <td><table><tr><td width='100' align='right'>{{getTotalDrs('Equity') + getTotalDrs('Liability')| number: 2}}</td></tr></table></td>
         <td><table><tr><td width='100' align='right'>{{getTotalCrs('Equity') + getTotalCrs('Liability') | number: 2}}</td></tr></table></td>
         <td><table><tr><td width='100' align='right' >{{TotalAdj('Equity') + TotalAdj('Liability') | number: 2}}</td> </tr></table></td>


         </tr>

         </tr>



         </tbody>
         </table>
         </div>
      
       </div>
      </div>
    </div>
  </div>



